body{

    background-color: #0b0d17;;
    color: white;

}

.hero-section {
            padding: 40px;
            text-align: center;
        }


nav {
    background-color: #161b22;
    padding: 1px;
    text-align: center;
    margin-right: 325px;
    margin-left: 325px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li{
    display: inline;
    margin: 0 15px;
}

nav a{
    text-decoration: none;
    color: #ca7b06;
    font-weight: bold;
    font-family: sans-serif;
    
}

button{
    background-color: #0b0d17;
}

button:hover {
    background-color: #0e709a;
    transition-duration: 0.5s;
}

table {
    margin: 20px auto;
    margin-top: 100px;
    width: 90%;
    border-collapse: collapse;
    color: whitesmoke;
    font-family: sans-serif;

}

th, td{
    border: 1px solid #30363d;
    padding: 10px;  
    text-align: center;
}

th{
    background-color: #161b22;
    color: #f0e68c;
}

tr:hover{
    background-color: #21262d;
    transition-duration: 0.2s;
}